<ng-container *ngIf="competition">
  <h2>{{competition.competition.name| translate}}</h2>
  <nav mat-tab-nav-bar>
    <a mat-tab-link
       [routerLink]="['./result']"
       routerLinkActive #result="routerLinkActive"
       [active]="result.isActive">
      {{'result.label' | translate}}
    </a>
    <a mat-tab-link
       [routerLink]="['./standing']"
       routerLinkActive #standing="routerLinkActive"
       [active]="standing.isActive">
      {{'table.label'| translate}}
    </a>
    <a mat-tab-link
       [routerLink]="['./scorers']"
       routerLinkActive #scorers="routerLinkActive"
       [active]="scorers.isActive">
      {{'scorers.label'| translate}}
    </a>
  </nav>
<router-outlet *ngIf="competition"></router-outlet>
</ng-container>
