<h4>{{competitionName| translate}}</h4>
<h5 *ngIf="group">{{group| translate}}</h5>
<div class="min-table">
  <div class="table-item header">
    <div class="tab-header position">{{'table.ranking' | translate}}</div>
    <div class="tab-header team" >{{'table.team' | translate}}</div>
    <div class="tab-header"  >{{'table.played' | translate}}</div>
    <div class="tab-header"  >{{'table.diff' | translate}}</div>
    <div class="tab-header"  >{{'table.points' | translate}}</div>
  </div>
  <app-min-table-team *ngFor="let table of standings; let odd=odd;" [teamTable]="table" [class.odd]="odd" [class.highlight]="isHighlight(table)"></app-min-table-team>
</div>
