@import '~@angular/material/theming';
mat-grid-list{
  margin: 2px 0;
}
mat-grid-tile.day{
  font-size: 24px;
}
mat-toolbar-row{
  display: flex;
  justify-content: center;
}
mat-grid-tile.fixture{
  background: mat-color($mat-grey, 100);
  color: mat-color($mat-grey, 50);
}
mat-grid-tile.fixture.live{
  background: mat-color($mat-red, A200);
  color: mat-color($mat-grey, 50);
}
app-fixture{
  margin-bottom: 4px;
}
.day{
  background: mat-color($mat-grey, 100);
  text-transform: uppercase;
  border-bottom: 1px solid mat-color($mat-gray, 300);
}
.match-day {
  font-size: 1.7em;
  text-transform: uppercase;
  border-bottom: 3px solid mat-color($mat-gray, 900);
}

