<div class="table-item">
  <div class="tab-row position"  >{{teamTable.position}}</div>
  <div class="tab-row phone-no-display"><app-team-svg-icon [id]="teamTable.team.id"></app-team-svg-icon></div>
  <div class="tab-row team">{{teamTable.team.name}}</div>
  <div class="tab-row">{{teamTable.playedGames}}</div>
  <div class="tab-row phone-no-display">{{teamTable.won}}</div>
  <div class="tab-row phone-no-display">{{teamTable.draw}}</div>
  <div class="tab-row phone-no-display">{{teamTable.lost}}</div>
  <div class="tab-row">{{teamTable.goalDifference}}</div>
  <div class="tab-row">{{teamTable.points}}</div>
</div>
