<div class="table-item header">
  <div class="tab-header position">{{'table.ranking' | translate}}</div>
  <div class="tab-header phone-no-display"  ></div>
  <div class="tab-header team" >{{'table.team' | translate}}</div>
  <div class="tab-header"  >{{'table.played' | translate}}</div>
  <div class="tab-header phone-no-display"  >{{'table.win' | translate}}</div>
  <div class="tab-header phone-no-display"  >{{'table.draw' | translate}}</div>
  <div class="tab-header phone-no-display"  >{{'table.lost' | translate}}</div>
  <div class="tab-header"  >{{'table.diff' | translate}}</div>
  <div class="tab-header"  >{{'table.points' | translate}}</div>
</div>
<app-table-team *ngFor="let table of tables; let odd=odd;" [teamTable]="table" [class.odd]="odd"></app-table-team>

