<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell--span-12">
    <h3>{{'home.competitions'  | translate}}</h3>
      <mat-grid-list [cols]="getCompetitionCols()">
        <mat-grid-tile *ngFor="let cup of cups">
          <a href="" [routerLink]="['/cup/' + cup.path + '/result']" class="league-square" [id]="'league-'+ cup.id"></a>
        </mat-grid-tile>
        <mat-grid-tile *ngFor="let league of leagues">
          <a href="" [routerLink]="['/league/' + league.path + '/result']" class="league-square" [id]="'league-'+ league.id"></a>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
    <div class="mdc-layout-grid__cell--span-8-desktop mdc-layout-grid__cell--span-12-tablet mdc-layout-grid__cell--span-12-phone">
      <app-news [limit]="10" [isBloc]="true"></app-news>
    </div>
    <div class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-12-tablet mdc-layout-grid__cell--span-12-phone">
      <app-today [isBloc]="true"></app-today>
    </div>
  </div>
</div>
