@import '~@angular/material/theming';
.footer{
  min-height: 80px;
  background: mat-color($mat-grey, 800);
  margin-top: 100px;
  color: mat-color($mat-gray, 300);
}
.logo{
  text-align: center;
}
.sub-footer{
  p{
    text-align: center;
    padding: 10px 0;
    margin: 0;
    font-size: 0.8em;
  }
}
